EconoFood.Admin/Service References/PedidoService/Pedido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pedido" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50229/Pedido.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50229/Pedido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50229/Pedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
      <xsd:import schemaLocation="http://localhost:50229/Pedido.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedido_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IPedido_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Pesquisar_InputMessage">
    <wsdl:part name="parameters" element="tns:Pesquisar" />
  </wsdl:message>
  <wsdl:message name="IPedido_Pesquisar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedido_Gravar_InputMessage">
    <wsdl:part name="parameters" element="tns:Gravar" />
  </wsdl:message>
  <wsdl:message name="IPedido_Gravar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GravarResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedido">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido/Listar" message="tns:IPedido_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido/ListarResponse" message="tns:IPedido_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pesquisar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido/Pesquisar" message="tns:IPedido_Pesquisar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido/PesquisarResponse" message="tns:IPedido_Pesquisar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedido/Gravar" message="tns:IPedido_Gravar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedido/GravarResponse" message="tns:IPedido_Gravar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedido" type="tns:IPedido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IPedido/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pesquisar">
      <soap:operation soapAction="http://tempuri.org/IPedido/Pesquisar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <soap:operation soapAction="http://tempuri.org/IPedido/Gravar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pedido">
    <wsdl:port name="BasicHttpBinding_IPedido" binding="tns:BasicHttpBinding_IPedido">
      <soap:address location="http://localhost:50229/Pedido.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>