EconoFood.Admin/Service References/PedidoService/Pedido3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50229/Pedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="ListarResult" nillable="true" type="q1:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pesquisar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="pedido" nillable="true" type="q2:Pedido" />
        <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fim" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="PesquisarResult" nillable="true" type="q3:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gravar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="pedido" nillable="true" type="q4:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GravarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>