EconoFood/Service References/ProdutoService/Produto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Produto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50229/Produto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50229/Produto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50229/Produto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduto_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IProduto_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IProduto_ListarPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IProduto_ListarPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IProduto_PesquisarPorNome_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorNome" />
  </wsdl:message>
  <wsdl:message name="IProduto_PesquisarPorNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorNomeResponse" />
  </wsdl:message>
  <wsdl:message name="IProduto_PesquisarPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorID" />
  </wsdl:message>
  <wsdl:message name="IProduto_PesquisarPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProduto_Gravar_InputMessage">
    <wsdl:part name="parameters" element="tns:Gravar" />
  </wsdl:message>
  <wsdl:message name="IProduto_Gravar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GravarResponse" />
  </wsdl:message>
  <wsdl:message name="IProduto_ListarImagens_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarImagens" />
  </wsdl:message>
  <wsdl:message name="IProduto_ListarImagens_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarImagensResponse" />
  </wsdl:message>
  <wsdl:message name="IProduto_Comparar_InputMessage">
    <wsdl:part name="parameters" element="tns:Comparar" />
  </wsdl:message>
  <wsdl:message name="IProduto_Comparar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompararResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduto">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/Listar" message="tns:IProduto_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/ListarResponse" message="tns:IProduto_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/ListarPorCategoria" message="tns:IProduto_ListarPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/ListarPorCategoriaResponse" message="tns:IProduto_ListarPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/PesquisarPorNome" message="tns:IProduto_PesquisarPorNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/PesquisarPorNomeResponse" message="tns:IProduto_PesquisarPorNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/PesquisarPorID" message="tns:IProduto_PesquisarPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/PesquisarPorIDResponse" message="tns:IProduto_PesquisarPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/Gravar" message="tns:IProduto_Gravar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/GravarResponse" message="tns:IProduto_Gravar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarImagens">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/ListarImagens" message="tns:IProduto_ListarImagens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/ListarImagensResponse" message="tns:IProduto_ListarImagens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Comparar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduto/Comparar" message="tns:IProduto_Comparar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduto/CompararResponse" message="tns:IProduto_Comparar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduto" type="tns:IProduto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IProduto/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IProduto/ListarPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorNome">
      <soap:operation soapAction="http://tempuri.org/IProduto/PesquisarPorNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorID">
      <soap:operation soapAction="http://tempuri.org/IProduto/PesquisarPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <soap:operation soapAction="http://tempuri.org/IProduto/Gravar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarImagens">
      <soap:operation soapAction="http://tempuri.org/IProduto/ListarImagens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comparar">
      <soap:operation soapAction="http://tempuri.org/IProduto/Comparar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Produto">
    <wsdl:port name="BasicHttpBinding_IProduto" binding="tns:BasicHttpBinding_IProduto">
      <soap:address location="http://localhost:50229/Produto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>