EconoFood/Service References/ProdutoService/Produto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalhe" nillable="true" type="tns:ProdutoDetalhe" />
      <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagens" nillable="true" type="tns:ArrayOfProdutoImagem" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TipoProduto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="ProdutoDetalhe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimensao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProdutoDetalhe" type="xs:int" />
      <xs:element minOccurs="0" name="Peso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorVenda" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoDetalhe" nillable="true" type="tns:ProdutoDetalhe" />
  <xs:complexType name="ArrayOfProdutoImagem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoImagem" nillable="true" type="tns:ProdutoImagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoImagem" nillable="true" type="tns:ArrayOfProdutoImagem" />
  <xs:complexType name="ProdutoImagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdImagem" type="xs:short" />
      <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagem" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoImagem" nillable="true" type="tns:ProdutoImagem" />
</xs:schema>