EconoFood.Admin/Service References/PrecificacaoService/Precificacao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50229/Precificacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="ListarResult" nillable="true" type="q1:ArrayOfPrecificacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="precificacao" nillable="true" type="q2:Precificacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="PesquisarPorIDResult" nillable="true" type="q3:Precificacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPorProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="precificacao" nillable="true" type="q4:Precificacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPorProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="PesquisarPorProdutoResult" nillable="true" type="q5:ArrayOfPrecificacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gravar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="precificacao" nillable="true" type="q6:Precificacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GravarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>