EconoFood.Admin/Service References/PrecificacaoService/Precificacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Precificacao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50229/Precificacao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50229/Precificacao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50229/Precificacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrecificacao_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_PesquisarPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorID" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_PesquisarPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_PesquisarPorProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorProduto" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_PesquisarPorProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_Gravar_InputMessage">
    <wsdl:part name="parameters" element="tns:Gravar" />
  </wsdl:message>
  <wsdl:message name="IPrecificacao_Gravar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GravarResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrecificacao">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecificacao/Listar" message="tns:IPrecificacao_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecificacao/ListarResponse" message="tns:IPrecificacao_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecificacao/PesquisarPorID" message="tns:IPrecificacao_PesquisarPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecificacao/PesquisarPorIDResponse" message="tns:IPrecificacao_PesquisarPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecificacao/PesquisarPorProduto" message="tns:IPrecificacao_PesquisarPorProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecificacao/PesquisarPorProdutoResponse" message="tns:IPrecificacao_PesquisarPorProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecificacao/Gravar" message="tns:IPrecificacao_Gravar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecificacao/GravarResponse" message="tns:IPrecificacao_Gravar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrecificacao" type="tns:IPrecificacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IPrecificacao/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorID">
      <soap:operation soapAction="http://tempuri.org/IPrecificacao/PesquisarPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorProduto">
      <soap:operation soapAction="http://tempuri.org/IPrecificacao/PesquisarPorProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <soap:operation soapAction="http://tempuri.org/IPrecificacao/Gravar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Precificacao">
    <wsdl:port name="BasicHttpBinding_IPrecificacao" binding="tns:BasicHttpBinding_IPrecificacao">
      <soap:address location="http://localhost:50229/Precificacao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>