EconoFood.Admin/Service References/DominioService/Dominio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50229/Dominio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
  <xs:import schemaLocation="http://localhost:50229/Dominio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="ListarResult" nillable="true" type="q1:ArrayOfDominio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPorTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EconoFood.Services" minOccurs="0" name="idTipoDominio" type="q2:eTipoDominio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPorTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="PesquisarPorTipoResult" nillable="true" type="q3:ArrayOfDominio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gravar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="Dominio" nillable="true" type="q4:Dominio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GravarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" minOccurs="0" name="Dominio" nillable="true" type="q5:Dominio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>