EconoFood.Admin/Service References/UsuarioService/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50229/Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50229/Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50229/Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EconoFood.Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_PesquisarPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorID" />
  </wsdl:message>
  <wsdl:message name="IUsuario_PesquisarPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisarPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Gravar_InputMessage">
    <wsdl:part name="parameters" element="tns:Gravar" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Gravar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GravarResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/Listar" message="tns:IUsuario_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/ListarResponse" message="tns:IUsuario_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/PesquisarPorID" message="tns:IUsuario_PesquisarPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/PesquisarPorIDResponse" message="tns:IUsuario_PesquisarPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/Gravar" message="tns:IUsuario_Gravar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GravarResponse" message="tns:IUsuario_Gravar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/Excluir" message="tns:IUsuario_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/ExcluirResponse" message="tns:IUsuario_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IUsuario/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisarPorID">
      <soap:operation soapAction="http://tempuri.org/IUsuario/PesquisarPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gravar">
      <soap:operation soapAction="http://tempuri.org/IUsuario/Gravar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/IUsuario/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://localhost:50229/Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>