EconoFood.Services.DataAccess/Service References/SondaService/ServiceSonda1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoSondaHipermercados" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoSondaHipermercados" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdutoSonda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoSonda" nillable="true" type="tns:ProdutoSonda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoSonda" nillable="true" type="tns:ArrayOfProdutoSonda" />
  <xs:complexType name="ProdutoSonda">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProdutoSonda" type="xs:int" />
      <xs:element minOccurs="0" name="NomeProdutoSonda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoProdutoSonda" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoSonda" nillable="true" type="tns:ProdutoSonda" />
</xs:schema>