EconoFood.Services.DataAccess/Service References/ExtraService/ServiceExtra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoExtraHipermercados" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoExtraHipermercados" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdutoExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoExtra" nillable="true" type="tns:ProdutoExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoExtra" nillable="true" type="tns:ArrayOfProdutoExtra" />
  <xs:complexType name="ProdutoExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProdutoExtra" type="xs:int" />
      <xs:element minOccurs="0" name="NomeProdutoExtra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoProdutoExtra" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoExtra" nillable="true" type="tns:ProdutoExtra" />
</xs:schema>