EconoFood.Services.DataAccess/Service References/PaoDeAcucarService/ServicePaoDeAcucar2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObterPrecoProdutoPaoDeAcucar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPrecoProdutoPaoDeAcucarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterPrecoProdutoPaoDeAcucarResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>